<div class="container">
    <h1>Verlanglijstjes</h1>
    <div class="well">
        <nav>
            <button *ng-if="!isAuthenticated()"
                    class="btn btn-primary" [router-link]="['./Register']">
                Registreren
            </button>
            <button *ng-if="!isAuthenticated()"
                    class="btn btn-primary" [router-link]="['./Login']">
                Login
            </button>

            <button *ng-if="isAuthenticated()"
                    class="btn btn-primary" [router-link]="['./People']">
                Mensen
            </button>
            <button *ng-if="isAuthenticated()"
                    class="btn btn-primary" [router-link]="['./Wishlist']">
                Wensen
            </button>
            <div class="pull-right">
                <small *ng-if="isAuthenticated()">Ingelogd als: {{getUserName()}}</small>
                <button *ng-if="isAuthenticated()"
                        class="btn btn-danger"
                        (click)="logout()">
                    Log uit
                </button>
            </div>
           
        </nav>
    </div>
    <br />
    <router-outlet></router-outlet>
</div>