﻿<div>
    <form class="form">
        <label>Username</label>
        <input type="text" minlength="1" required [(ng-model)]="userName" class="form-control" placeholder="harry"/>
        <label>Wachtwoord</label>
        <input type="password" required [(ng-model)]="password" class="form-control" placeholder="mijn wachtwoord"/>

        <br/>
        <button type="submit" class="btn btn-primary" (click)="onLogin()">Log in</button>
    </form>
</div>
