﻿<h2>Mijn Mensenlijstje</h2>
<div *ng-if="!!users" class="row">
    <div class="col-md-6" *ng-for="#user of users">
        <div class="row well">
            <h3><small>Gebruiker:</small><br/>{{user.FullName}}</h3>
            <h4>
                <small>Aantal:</small><br />{{user.WishLists.length}} lijstjes
                <button class="btn btn-primary" (click)="onSelect(user.Id)">Bekijken</button>
            </h4>
         
        </div>
        
    </div>

</div>

