<div *ng-if="!newUser.FullName">
	<h2>Nieuwe gebruiker aanmaken</h2>
</div>
<div *ng-if="newUser.FullName">
	<h2>Welkom {{newUser.FullName}}!</h2>
</div>

<div *ng-for="#res of response">
    <div class="alert alert-danger">{{res}}</div>
</div>

<div class="well">
    <div class="row">
		<form (ng-submit)="onSubmit()" #hf="form">
			<div class="form-group">	
				<label for="fullName">Voor-en achternaam:</label><br/>
				<input type="text" class="form-control"  required [(ng-model)]="newUser.FullName" ng-control="fullname" #fullname="form" placeholder="Naam">
				<div [hidden]="fullname.valid || fullname.untouched" class="alert alert-danger">Naam is verplicht</div>
				
			</div>
			<br/>
			<div class="form-group">
				<label for="userName">Gebruikersnaam:</label>
				<input type="text" class="form-control" required [(ng-model)]="newUser.userName" ng-control="username" #username="form" placeholder="Gebruikersnaam">
				<div [hidden]="username.valid || username.untouched" class="alert alert-danger">Gebruikersnaam is verplicht</div>
				
			</div>
			<br/>
			<div class="form-group">
				<label for="password">Wachtwoord:</label>
				<input type="password" class="form-control" required [(ng-model)]="newUser.password" ng-control="password" #password="form" placeholder="Password">
				<div [hidden]="password.valid || password.untouched" class="alert alert-danger">Wachtwoord is verplicht</div>
			
				
			</div>
			<br/>
			<div class="form-group">
				<label for="ConfirmPassword">Wachtwoord bevestigen: </label>
				<input type="password" class="form-control" required [(ng-model)]="newUser.ConfirmPassword" ng-control="confirmpassword" #confirmpassword="form" placeholder="Password bevestigen">
				<div [hidden]="confirmpassword.valid || confirmpassword.untouched" class="alert alert-danger">Wachtwoord bevestigen is verplicht</div>
				<div [hidden]="confirmpassword.value == password.value || confirmpassword.untouched || password.untouched" class="alert alert-danger">Wachtwoorden zijn niet gelijk</div>
			</div>
			<br/>
            
			<button type="submit" class="btn btn-primary" [disabled]="!hf.form.valid">Aanmaken</button>           
		
		</form>
    </div>
</div>