﻿<h2  *ng-if="!spectateMode">Mijn verlanglijstje</h2>
<h2  *ng-if="spectateMode">Verlanglijstje</h2>
<div *ng-if="!!wishlists" class="row">
    <div class="col-md-6"
         *ng-for="#wishlist of wishlists">
        <div class="well">

            <!-- EditMode means you can edit your wishlist title -->
            <div *ng-if="!wishlist.EditMode">
                <strong>{{wishlist.WishListId}} {{wishlist.Title}}</strong>
                <a *ng-if="!spectateMode" (click)="editWishList(wishlist)">verander</a>
            </div>

            <div *ng-if="wishlist.EditMode">
                <input type="text" [(ng-model)]="wishlist.Title" class="form-control" />
                <button class="btn btn-success" (click)="updateWishList(wishlist)">Opslaan</button>
            </div>

            <ul *ng-if="!!wishlist.Items"
                 [ng-class]="{'no-bullets': !spectateMode}">
                <li *ng-for="#item of wishlist.Items">
                    <input *ng-if="!spectateMode" type="checkbox"
                           [(ng-model)]="item.Received"
                            (click)="onItemGet(item)"/>
                    <del *ng-if="item.Received">{{item.Title}}</del>
                    <span *ng-if="!item.Received">{{item.Title}}</span>
                    <a  *ng-if="!spectateMode" class="text-danger pull-right" (click)="deleteItem(item)">&nbsp;verwijder</a>
                </li>
            </ul>
            <input  *ng-if="!spectateMode" type="text" placeholder="Ik wil een ..." [(ng-model)]="itemMap[wishlist.WishListId]" />
            <button *ng-if="!spectateMode" class="btn btn-success pull-right" (click)="newItem(wishlist)">Voeg toe</button>
        </div>
    </div>
</div>
<span *ng-if="wishlists.length == 0" class="row">Er zijn geen lijstjes</></span>
<button *ng-if="!spectateMode" class="btn btn-primary"
            (click)="newWishList()">
        Nieuw verlanglijstje
    </button>
